* {
  box-sizing: border-box;
}

body {
  background-image: url('./images/backgroundImage3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Permanent Marker', cursive;
}

.container {
  width: 1200px;
  margin: 4rem auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  margin: .5rem;
  min-width: 200px;
  min-height: 200px;
  border-radius: 5px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  color: white;
  font-size: 4rem;
  position: relative;
}

.column:hover {
  cursor: pointer;
}

.column-2 {
  flex: 2;
  margin: .5rem;
  /* width: 200px;
  height: 200px; */
  background: rgba(0, 0, 0, 0.5);
  border: 2px dashed #fff;
  border-radius: 5px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 4rem;
}

.number {
  position: absolute;
  opacity: 1;
  transition: opacity 1s linear;
  background: rgba(211, 47, 47, 0.9);
  z-index: -1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  opacity: 0;
  position: absolute;
  height: 100%;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  z-index: -1;
  transition: opacity 1s linear;
}

.card-image {
  flex: 1 0 50%;
  object-fit: cover;
  max-width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-description {
  background: rgb(211, 47, 47);
  flex: 1 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}